body{
    background:#000000;
    color:#ffffff;
}
#startbtn{
    display:initial;
    position:absolute;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
    width:200px;
    height:60px;
    background:#000000;
    color:#ffffff;
    border-radius:10px;
    border:1px solid #606060;
}
#startbtn:hover{
    border-width:4px;
    box-shadow:0 0 10px 10px #ff00ff;
}
#startbtn:focus{
    border-width:4px;
    box-shadow:0 0 10px 12px #ff00ff;
}
#gamemsg{
    text-align: center;
    display:none;
    position:absolute;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
    background:#000000;
    border:2px solid #999999;
    padding:10px;
    font-family:'Courier New', Courier, monospace;
}
#gamemsg *{
    font-family:'Courier New', Courier, monospace;
}
#gametext{
    display:none;
    position:absolute;
    left:25%;
    right:25%;
    top:70vh;
    bottom:10vh;
    overflow:scroll;
    background:#000000;
    border:2px solid #999999;
    padding:10px;
    font-family:'Courier New', Courier, monospace;
}
#gametext *{
    font-family:'Courier New', Courier, monospace;
}
#canvas{
    display:none;
    position:absolute;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
    background:transparent;
    width:80*3/4vh;
    height:80vh;
}