th {
	background-color: black;
	border-radius: 2px;
	width: 3vh;
	height: 3vh;

}

table {
	user-drag: none;
	-webkit-user-drag: none;
	-moz-user-select: none;
	background-color: gray;
	border-radius: 1px;
}

.btn * {
	width: 20%;
	height: 60px;
}